<html>
    <body>
        This is Register page
        <form action="/register" method ="POST">
            Username :<input type ="text" name ="username"/><br>
            password :<input type ="password" name ="password"/><br>
            <button type ="submit">Login</button>
        </form>
    </body>
</html>